body, div, button, label, div {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, ul, li, p {
  margin: 0;
  padding: 0;
}

div, label, p, li, span {
  font-size: 1rem;
}

ul, ol {
  list-style: none;
}

main {
  height: 100vh;
  background-color: #f7f7f7;
}

.active {
  background-color: #007bff !important; // styled-components specificity
  color: #fff !important; // styled-components specificity
}